<a href="https://colab.research.google.com/github/Yui411/test/blob/main/Loops%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practise Exercises on Loops**

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [12]:
for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [13]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genres in Genres:
    print(Genres)

rock
R&B
Soundtrack
R&B
soul
pop


Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [14]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [16]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 0
rating = PlayListRatings[0]
while (i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [18]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while (i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print(new_squares)

['orange', 'orange']

**Some real-life problems!**

Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [21]:
print("Multiplication table of 6:")
for i in range (10):
    print("6 *", i, "=", 6*i)
print("Multiplication table of 7:")
for i in range (10):
    print("7 *", i, "=", 7*i)

Multiplication table of 6:
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
Multiplication table of 7:
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

The following is a list of animals in a National Zoo. Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a while loop and create a separate list of such animals.

Use while loop to iterate over the elements of the list. Use if-else statement inside the for loop to check the length of each element and if the length is 7, add the element to a new list.

In [22]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i = 0
while i < len(Animals):
    j = Animals[i]
    if(len(j) == 7):
        New.append(j)
    i = i + 1
print(New)

['giraffe', 'gorilla', 'parrots']

**Below is just for my understanding**

In [1]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [3]:
dates = [1982,1980,1973]
N = len(dates)
print(N)

3

In [2]:
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [4]:
for year in dates:
    print(year)

1982
1980
1973

In [5]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [6]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [7]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [8]:
dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):
    print(year)
    i = i + 1
    year = dates[i]


print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.